@media (min-aspect-ratio: 16/9) {

}
@media (max-aspect-ratio: 14/9) {
	.header p {
		font-size: 1.1vh;
	}
	
	.intro p {
		font-size: 3vh;
	}
	
	.courses-lander,
	.leadership-lander {
		height: 35vh;
	}
	
	.header {
		top: 50%;
	}
	
	.lander-inner .header {
		top: 25vh !important;
	}
	
	.submission-lander {
		height: 35vh;
	}
	
	.header h3 {
		font-size: 8.2vw;
	}
	
	.intro h3 {
		margin: 2em 0 0 0;
	}
	
	.course-entry:nth-child(even) {
		background: #555658;
	}
	
	.intro {
		margin-top: 5vh;
		width: 80vw;
	}
}

@media screen and (max-width: 1000px) {
	.footer-inner-left {
		font-size: 1.52vw !important;
		display: block !important;
		width: 40% !important;
	}
	
	.footer h3 {
		font-size: 2.83vw;
		line-height: 1.4em;
		margin-top: 1em !important;
	}
	
	.lander,
	.lander-back,
	.lander-inner {
		height: 55vh;
	}
	
	#planetsvg {
		width: 40vh;
		height: auto;
	}
	
	#moonsvg {
		width: 15vh;
		height: 15vh;
	}
	
	#sunsvg {
		width: 20vh;
		height: auto;
	}
	
	.lander-inner,
	.lander-back {
		clip-path: initial;
	}
	
	.num-1 {
		top: 52vh;
	}
	
	section.--toc-section .svg-wrapper {
		width: 90%;
		max-width: 350px;
		left: 50%;
		transform: translate(-50%, -25%);
		position: absolute;
		margin: 0 !important;
		opacity: 0.5;
	}
	
	section.--toc-section .content-wrapper {
		width: 100%;
	}
	
	section.--toc-section .content-wrapper a {
		margin-top: 6em !important;
	}
	
	.section-flex {
		display: block !important;
		margin: 0 auto;
		max-width: 850px;
		width: 90%;
		text-align: center;
	}
	
	.svg-wrapper svg {
		width: 100%;
		height: 100%;
	}
	
	.intro h3,
	section.--toc-section > .inner > .section-header {
		font-size: 6.15vw;
	}
	
	.officer {
		max-width: 100%;
	}2
}

@media screen and (max-width: 680px) {
	.num-1 {
		display: none;
	}
}