/******************** INCLUDES ********************/

@import url("hover.css");

/**************************** FONTS ****************************/

/* Roboto */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,900,700italic,900italic);

/* Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,800italic,800,700italic,700,600italic,400italic,300italic,300);

@font-face {
    font-family: acumin-pro;
    src: url(../fonts/acumin-pro/normal.woff2) format("woff2"), url(../fonts/acumin-pro/normal.woff) format("woff"), url(../fonts/acumin-pro/normal.opentype) format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: acumin-pro;
    src: url(../fonts/acumin-pro/light.woff2) format("woff2"), url(../fonts/acumin-pro/light.woff) format("woff"), url(../fonts/acumin-pro/light.opentype) format("opentype");
    font-weight: 400;
    font-style: normal;
}
/**************************** CSS ****************************/

html {
  position: relative;
  height: 100%;
  z-index: -1;
}

body {
  height: 100%;
  font-family: 'Roboto';
  background-color: #FFF;
  overflow: auto;
  position: relative;
  z-index: -1;
  margin: 0;
  overflow-x: hidden;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

.nav {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 110px;
    border-bottom: solid 1px;
    border-bottom-color: rgba(255,255,255,0.30);
    transition: all ease 0.3s;
    background: rgba(34, 35, 38, 0.8);
}

.nav a {
    display: inline-block;
    height: 100%;
    line-height: 110px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    transition: all ease 0.3s;
    width: 20%;
    min-width: 60px;
    max-width: 160px;
    text-decoration: none;
    text-align: center;
    position: relative;
    padding: 0 20px;
}

.nav-inner {
    position: absolute;
    display: flex;
    height: 100%;
    left: 50%;
    min-width: 50vw;
    transform: translateX(-50%);
}

.nav a::after {
    height: 0px;
    position: absolute;
    bottom: -1px;
    width: 100%;
    background: #fff;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease;
}

.nav a:hover::after,
.nav a.active::after {
    height: 5px;
}

.nav.down a::after {
    background: #222326;
}

.lander {
    height: 140vh;
    position: relative;
    display: block;
    width: 100%;
}

.lander-back {
    background: #222326;
    width: 100%;
    position: absolute;
    height: 140vh;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 61% 100%, 59% 100%, 0 84%);
}

.lander-inner {
    width: 100%;
    position: absolute;
    height: 140vh;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 61% 100%, 59% 100%, 0 84%);
    overflow: hidden;
}

.color {
    width: 100%;
    display: inline-block;
}

.header {
    text-align: center;
    font-family: "acumin-pro",Arial,Sans-Serif;
    display: block;
    position: absolute;
    top: 200px;
    transform: translateX(-50%);
    color: #fff;
    max-width: 600px;
    z-index: 6;
    left: 50%;
}

.header p {
    margin: 0 0 30px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

.header h3 {
    margin: 0;
    font-size: 102px;
    font-weight: 700;
    line-height: 102px;
}

.stars > svg {  
    position: absolute;
}

#moonsvg,
#planetsvg,
#sunsvg {
    position: absolute;
    z-index: 4;
}

#planetsvg {
    bottom: -30%;
    width: 800px;
    height: 800px;
    display: block;
    position: absolute;
    left: 60%;
    transform: translateX(-50%) rotateY(0deg);
    transition: 0.2s ease all;
}

#moonsvg {
    left: 30px;
    width: 200px;
    height: 200px;
    bottom: 500px;
}

#sunsvg {
    right: 30px;
    width: 200px;
    height: 200px;
    top: 60px;
}

.nav.down {
    height: 70px;
    background: #fff;
}

.nav.down a {
    color: #222326;
    line-height: 70px;
}

.num-1 {
    width: 300px;
    height: 300px;
    background: #6f3fdc;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 115vh;
    left: 14vw;
}

.num-1 span {
    font-size: 120px;
    width: 300px;
    text-align: center;
    display: inline-block;
    margin: 40px 0 0 0;
}

.num-1 p {
    width: 160px;
    position: absolute;
    text-align: center;
    display: inline-block;
    margin: 10px 0 0 0;
    left: 50%;
    font-size: 16px;
    font-weight: 300;
    transform: translateX(-50%);
}
