/******************** INCLUDES ********************/

@import url("css/hover.css");

/**************************** FONTS ****************************/

/* Roboto */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,900,700italic,900italic);

/* Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,800italic,800,700italic,700,600italic,400italic,300italic,300);

/**************************** CSS ****************************/

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFF;
  overflow: auto;
  position: relative;
  z-index: -1;
}

a:hover {
  text-decoration: none;
}

::selection { 
  background: grey;
}

.top-padding {
  position:relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index:-1;
  padding: 0 30px 0 30px;
}

.top-wrapper {
  z-index: 1;
  position: relative;
}

.top-bar {
  position: relative;
  left: 0;
  top: 0;
  height: 74px;
  padding: 0 20px 0 20px;
}

.logo-top,
.logo-top img {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  height: 17px;
  width: auto;
  z-index: 1;
}

.top-bar small {
  position: absolute;
  text-align: center;
  
  font-size: 16px;
  
  vertical-align: middle;
  line-height: 74px;
  height: 100%;
  width: 100%;
  font-weight: bold;
  
  color: #B5B5B5;
}

#hamburger {
  position: fixed;
  right: 35px;
  top: 34px;
  transform: translateY(-50%);
  height: 42px;
  width: 42px;
  padding: 7px 9px 7px 9px;
  color: rgb(80, 77, 71);
  z-index: 5;
  background-color: #FFF;
  border-radius: 50%;
}

#hamburger i {
  animation-duration: 0.5s;
}

.top-img {
  position: relative;
  width: 100%;
  height: 734px;
  background-image: url(../img/header.jpg);
}

.top-img-wrapper {
  padding: 63px 132.5px 142px 132.5px;
  margin: 0 10% 0 10%;
  opacity: 0;
  
  animation-name: load-img-wrapper;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode:forwards;
}

@keyframes load-img-wrapper {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.top-img p {
  color: #FFF;
  font-family: 'Roboto', sans-serif;

}

.top-desc {
  font-size: 18px;
  margin: 36px 0 36px 0;
}

.title {
  margin: 63px 0 36px 0;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -2px;
  max-width: 80rem;
  line-height: 92px;
}

.motto {
  font-size: 40px;
  max-width: 374px;
  letter-spacing: -1px;
  line-height: 35px;
  font-weight: 100;
  font-style: italic;
  font-weight: bold;
}

@keyframes load-clickbait {
  from {
    
  }
  to {
    margin-top: 0;
  }
}

.clickbait {
  position: absolute;
  padding: 16px 90px 16px 90px;
  margin-top: 60px;
  background: #AA4000;
  border: none;
  color: #FFF;
  text-decoration: none;
  -webkit-animation-delay: 2s;
}

.clickbait:hover {
  text-decoration: none;
  color: #FFF;
}

@keyframes load-opactity-box {
  from {
    margin-top: 460px;
  }
  to {
    margin-top: 0;
  }
}

.opacity-box {
  transform: rotate(180deg);
  width: 50%;
  height: 460px;
  background-color: rgba(255,255,255, 0.2);
  position: absolute;
  right: 0;
  top: -460px;
  
  animation-name: load-opactity-box;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.top-grid {
  margin: 0 15% 0 10%;
  position: relative;
  height: 350px;
  top: -100px;
}

.top-grid > div {
  display: inline-block;
  position: absolute;
}

.top-info-left {
  background: rgb(242, 242, 242);
  width: 50%;
  left: 0;
  bottom: 0;
  height: 85%;
  padding: 90px 90px 81px 90px;
}

.top-info-left p.main {
  color: rgb(62, 60, 54);
  font-size: 70px;
  letter-spacing: -2px;
  font-family: font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.top-info-left p.main-info {
  font-size: 16px;
  color: #b5b5b5;
  font-family: font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.top-info-right {
  background: #3e3c36;
  width: 50%;
  right: 0;
  height: 110%;
  padding: 72px 90px 63px 90px;
}

.tsa-logo img {
  position: absolute;
  width: 75px;
  height: auto;
  top: 50%;
  left: 50%;
  z-index: 1;
  border-radius: 4px;
  transform: translateY(-50%) translateX(-50%);
}

.tsa-logo {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 2;
  border-radius: 50%;
  background-color: #FFF;
  left: 50%;
  right: 50%;
  bottom: 42.5%;
  transform: translateY(50%) translateX(-50%);
}

.top-info-right p.main {
  font-size: 24px;
  color: #FFF;
  font-family: font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-bottom: 27px;
}

.top-info-right p.main-info {
  color: #B5B5B5;
  line-height: 30px;
  font-size: 18px;
  font-family: font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-bottom: 40px;
}

#read-more-top {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  font-weight: bold;
}

#read-more-top {
  text-decoration: none;
}

.svg-arrow-top {
  height: 15px;
  width: 15px;
  display: none;
  vertical-align: sub;
  transform: rotate(180deg);
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
}

#read-more-top:hover ~ .svg-arrow-top {
  display: inline-block;
}

.officer-wrapper {
  width: 1440px;
  margin: 0 auto 0 auto;
}

.officer-info {
  text-align: center;
  padding: 100px 120px 81px 120px;
}

.officer-main {
  font-size: 54px;
  font-weight: bold;
  letter-spacing: -2px;
}

.officer-main i {
  font-style: normal;
  color: #DB5200;
}

.officer-info {
  color: #969696;
  font-size: 30px;
  font-weight: 100;
}

.officer-card {
  position: relative;
  overflow: hidden;
  height: 600px;
  margin: 0 0 0 0;
  padding: 0;
}

.officer-card-inner {
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  padding: 117px 60px 54px 60px;
}

.off-one {
  background-image: url(../img/francesca.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.off-two {
  background-image: url(../img/freya.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.off-three {
  background-image: url(../img/tristan.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.off-four {
  background-image: url(../img/jacob.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.off-five {
  background-image: url(../img/zak.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.officer-card:hover *
.officer-card-inner *,
.officer-card-inner:hover * {
  text-decoration: none;
}

p.office {
  color: #FFF;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -2px;
}

p.officer-name {
  position: absolute;
  color: #FFF;
  font-weight: 900;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 0 80px 0;
}
